<div class="h-96 overflow-auto bg-local" style="background-image: url('assets/img/bg_cidade.jpg')">
  <p class="p-20 text-white">Testando</p>
  <p class="p-20 text-white">Testando</p>
  <p class="p-20 text-white">Testando</p>
  <p class="p-20 text-white">Testando</p>
  <p class="p-20 text-white">Testando</p>
  <p class="p-20 text-white">Testando</p>
  <p class="p-20 text-white">Testando</p>
  <p class="p-20 text-white">Testando</p>
  <p class="p-20 text-white">Testando</p>
  <p class="p-20 text-white">Testando</p>
  <p class="p-20 text-white">Testando</p>
</div>

<div class="bg-blue-600 m-4">
  <div class="text-white bg-red-600 font-bold">Bold</div>
  <div class="text-red-200 p-4 underline">Geisel</div>
  <div class="text-white bg-purple-300 line-through">Geisel</div>
  <div class="text-white bg-purple-500 text-center">Centro</div>
  <div class="text-white bg-purple-700 text-right lowercase">ESTE É UM TEXTO MINUSCULO</div>
  <div class="text-white bg-purple-900 uppercase">Geisel</div>
</div>

<div>
  <input type="text" placeholder="Este é um teste"
    class="placeholder-red-600 placeholder-opacity-40">
</div>
