Projetos
  <div class="p-4">
    <button class="bg-blue-400 rounded m-2 " [routerLink]="['spotify']">Spotify</button>
    <button class="bg-purple-300 rounded m-2 " [routerLink]="['facebook']">Facebook</button>
    <button class="bg-pink-500 rounded m-2" [routerLink]="['amazon']">Amazon</button>
    <button class="bg-red-400 rounded m-2 cursor-wait" [routerLink]="['exercicio']">Exercicio</button>
    <button class="bg-green-400 rounded m-2 cursor-not-allowed" [routerLink]="['geisel']">Geisel</button>
  </div>
